html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Open Sans', Helvetica, sans-serif;
}
h1 {
	position: absolute;
	top: 20%;
	right: 100%;
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #D80027;
}
.brand {
	position: absolute;
	right: 2%;
	top: 2%;
}
.main-terminal {
	position: absolute;
	bottom: 0;
	right: 0;
	background: black;
	opacity: 0.2;
	height: 75vh;
	width: 75vw;
}

.main-bttn-container {
	position: absolute;
	top: 40%;
	left: 45%;
}

.header-menu {
	height: 100vh;
	width: 25%;
	background:rgba(128, 137, 255, 0.8);
}

.header-section {
	color: white;
	text-align: center;
	font-weight: 100;
	padding-top: 30px;
	font-size: 2.25vw;
	padding-top: 10vh;
}

.tooltip-box {
	position: fixed;
	top: 0vh;
	left: 25vw;
	color: rgba(128, 137, 255, 0.8);
	padding-left: 2vw;
	padding-top: 5vh;
	font-size: 2.25vw;
	font-weight: 100;
	width: 50vw;
	height: 20vh;
	border-left-style: solid;
	border-color: rgba(128, 137, 255, 1);
}